<% provide(:title, "Contact") %>
<!DOCTYPE html>
<html>
	<head>
		<title> <%= full_title(yield(:title)) %> </title>
	</head>
	<body>
		<h1>Contact</h1>
		<p>
			This is The Contact Page for The
			<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
			Sample Application.
		</p>
	</body>
</html>
