<% provide(:title, "Home") %>
<!DOCTYPE html>
<html>
	<head>
		<title> <%= full_title(yield(:title)) %> </title>
	</head>
	<body>
		<div class="center jumbotron">
			<h1>Sample App</h1>
			<h2>
				This is The Home Page for The
				<a href="http://www.railstutorial.org/">Ruby on Rails Tutorial</a>
				Sample Application.
			</h2>
			<%= link_to "Sign Up Now!", signup_path , class: "btn btn-lg btn-primary" %>
		</div>
		<%= link_to image_tag("rails.png"), "http://rubyonrails.org/" %>
	</body>
</html>
